.navbar, footer {
  background-color: #1A061F !important;
}

body, html {
  margin: 0;
  padding: 0;
}

.navbar-brand.arabic-logo {
  font-family: 'Scheherazade', serif;
  font-size: 1.5rem;
  color: white;
}

@import url('https://fonts.googleapis.com/css2?family=Scheherazade&display=swap');

.navbar .nav-link {
  color: white;
  position: relative;
  margin-left: 15px;
}

.navbar .nav-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -4px;
  width: 100%;
  height: 3px;
  background-color: orange;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease;
}

.navbar .nav-link:hover::after,
.navbar .nav-link.active::after {
  transform: scaleX(1);
}

.jumbotron {
  background: url('tentangkami.png') no-repeat center center/cover;
  height: 155vh;
  position: relative;
}

.jumbotron .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}

.jumbotron .content {
  z-index: 1;
}

footer {
  border-top: 1px solid rgba(255,255,255,0.1);
}

footer h5 {
  font-weight: bold;
}

footer ul {
  padding-left: 0;
}

footer li {
  margin-bottom: 5px;
}
